.MyOrder {
  background-color: gainsboro;
  margin-bottom: 40px;
  border-radius: 8px;
  th {
    text-align: center;
  }

  td {
    vertical-align: middle!important;
  }

  button {
    margin-left: 2.5px;
    margin-right: 2.5px;
  }
}