.OrderTable {

  #order-table {
    width: 1140px;
    margin: auto;
  }

  th {
    text-align: center;
    background-color: #555;
    color: #fff;
  }

  .th-item {
    width: 20%;
  }

  .th-description {
    width: 30%;
  }

  .th-quantity {
    width: 10%;
  }
  
  tbody tr {
    border-bottom: 2px solid white;
  }

  .td-vertical-align-center {
    padding: 3px;
    vertical-align: middle;
  }

  .input-quantity {
    width: 50px;
  }

  tr td:last-child {
    cursor: pointer;
  }

  tfoot tr:first-child {
    background-color: #555;
    color: #fff;
  }

  button span {
    pointer-events:none;
  }

  .button-group{
    text-align: right;
  }

  #order-total-label,
  #order-total-amount {
    font-size: 2em;
  }

  .no-border {
    border: none;
  }

  .glyphicon {
    top: 2px;
  }

  .btn-save-order-form {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}