const constants = {
  firebaseConfig: {
    apiKey: '',
    authDomain: '',
    databaseURL: '',
    projectId: '',
    storageBucket: '',
    messagingSenderId: '',
  },
    googleMap: {
    apiKey: '',
  },
    googleGeocode: {
    apiKey:'',
  }
};

export default constants;
